<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.7/plyr.css">
    <title>Streaming</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>


<body class="bg-dark">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.7/plyr.min.js"></script>



    <div class="container">
        <br><br>
        <div class="d-flex align-items-center flex-column">
            <h2 class="text-center m-2" style="color: rgb(4, 212, 4);">Go Buddy Watch</h2><br>
            <div style="height: 30vw; width: 65%; align-self: center;" class="plyr__video-embed" id="player">
                <iframe controls src="https://www.youtube.com/embed/9UAC2qkcrDY" title="Stream Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </div><br>
        </div>

        <br> {% if iamadmin %}
        <div class="row text-center">
            <input class="form-text p-md-2 text-dark border-success col col-md-9 col-12 m-1" id="yt-link" type="text" placeholder="Paste the YouTube link here">
            <button class="btn btn-outline-success btn-sm col col-md-2 col-12 m-1" id="yt-btn">Lets Go!</button> {% endif %} {{ room_name|json_script:"room-name" }}{{request.user.id|json_script:"user"}}{{admin|json_script:"admin"}}

        </div>
    </div>















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        const player = new Plyr('#player');
        const btn = document.getElementById('bbt');
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const userID = JSON.parse(document.getElementById('user').textContent);
        const adminID = JSON.parse(document.getElementById('admin').textContent);
        const vidSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/stream/' +
            roomName +
            '/'
        );


        vidSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (adminID != userID) {
                if (data.srcShift === '1') {
                    player.source = {
                        type: 'video',
                        sources: [{
                            src: data.vidSrc,
                            provider: 'youtube',
                        }, ],
                    };
                }
                player.currentTime = data.seektime
                if (data.playing == 1) player.play();
                else player.pause();
            }
        }

        player.on('pause', function() {
            if (adminID === userID) {
                console.log(player.currentTime)
                vidSocket.send(JSON.stringify({
                    'seektime': player.currentTime,
                    'playing': '0',
                    'userID': userID,
                    'srcShift': '0',
                    'vidSrc': "-1"
                }));
            }
            if (player.paused) console.log('Waiitaa!');
        })

        player.on('playing', function() {
            if (adminID === userID) {
                vidSocket.send(JSON.stringify({
                    'seektime': player.currentTime,
                    'playing': '1',
                    'userID': userID,
                    'srcShift': '0',
                    'vidSrc': "-1"
                }));
            }
            if (player.play) console.log('Lets Go!!!');
        })

        function ytParser(url) {
            var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            var match = url.match(regExp);
            if (match && match[2].length == 11) {
                return match[2];
            } else return "-1";
        }


        document.querySelector('#yt-btn').onclick = function() {
            var ytLink = document.getElementById('yt-link')
            vidID = ytParser(ytLink.value)
            if (vidID === "-1") alert("Please Enter a valid url.")
            else {
                player.source = {
                    type: 'video',
                    sources: [{
                        src: vidID,
                        provider: 'youtube',
                    }, ],
                };
                vidSocket.send(JSON.stringify({
                    'seektime': '0',
                    'playing': '0',
                    'userID': userID,
                    'srcShift': '1',
                    'vidSrc': vidID
                }))
            }
        }
    </script>
</body>

</html>