{% extends 'landing/base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 p-5">
            <form method="GET" action="{% url 'create-thread' %}">
                <button class="btn btn-light p-3" style="font-size: large;font-weight: bolder;color: white;height: 75px;width: 250px;background-color: rgb(233, 113, 1);;" type="submit">Start a Conversation</button>
            </form>
            <br>
            <a href="">
                <button class="btn btn-light p-3" style="font-size: x-large;font-weight: bolder;color: white;height: 250px;width: 250px;background-image: url('https://media.istockphoto.com/vectors/spiral-flat-bg-orange-vector-id1207442874?k=6&m=1207442874&s=170667a&w=0&h=_HfoY2DnhNpEAFlozyH05JLS5Ur9Sh3LbczUpEPGGXg=');"
                    type="submit">Create a Watch Party!</button>
            </a>
        </div>



        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 p-5">
                    <h3>Your Conversations</h3>
                </div>
            </div>
            {% for thread in threads.all %}
            <div class="row mb-3">
                <div class="card col-md-12 p-5 shadow-sm">
                    <h5><i class="far fa-envelope inbox-icon"></i>@{{ thread.user }} - @{{ thread.receiver }}</h5>
                    <a class="stretched-link" href="{% url 'thread' thread.pk %}"></a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock content %}